section.achivements {
  .fa {
    font-size: 4rem;
  }
  padding: 30px;
  color: #fff;
  background-color: #a29999;
  background-image: radial-gradient(circle farthest-side at center bottom, #7f807d, #979893 89%);
  color: #fff;
}
